
<div class="titleBar dragonControl"><span class="title">Preview</span></div>
<div class="dialog-content">
    

<p>
  <strong>Name of Applicant : </strong>
  <%= params["name_of_applicant"] %>
</p>
<p>
  <strong>Address 1 :</strong>
  <%= params["Address1"]%>
</p>
<p>
  <strong>Address 2 :</strong>
  <%= params["Address2"]%>
</p>
<p>
  <strong>City :</strong>
  <%= params["City"]%>
</p>
<p>
  <strong>State :</strong>
  <%= params["State"]%>
</p>    
<p>
  <strong>Zip+4 :</strong>
  <%= params["Zip+4"]%>
</p> 
<p>
  <strong>Studio Address :</strong>
  <%= params["Studio_Address"]%>
</p> 
<p>
  <strong>States :</strong>
  <%= params["us_states"]%>
</p>
<p>
  <strong>Zip Code :</strong>
  <%= params["Zip_Code"]%>
</p>
<p>
  <strong>Phone Number :</strong>
  <%= params["Phone_Number"]%>
</p>
<p>
  <strong>Fax:</strong>
  <%= params["Fax"]%>
</p>
<p>
  <strong>Email :</strong>
  <%= params["Email_address"]%>
</p>
<p>
  <strong>Re-type Email :</strong>
  <%= params["Retype_EMail"]%>
</p>
<p>
  <strong>Limit of Studio Insurance :</strong>
  $<%= params["higher_limits"]%>
</p>

<p>
  <strong>Limit of Insurance at Other Location :</strong>
  <%= params["limit_of_Insurance_at_Other_Location"]%>
</p>
<p>
  <strong>Limit of Insurance While in Transit :</strong>
  <%= params["limit_of_Insurance_While_in_Transit"]%>
</p>
<p>
  <strong>Policy Deductable :</strong>
  <%= params["Policy_Deductable"]%>
</p>
<p>
  <strong>Studio is located in a :</strong>
  <%= params["studio"]%>
</p>

<p>
  <strong>Studio & storage of art are in a basement :
  </strong>
  <%= params["Studio & storage of art are in a basement"]%>
</p>
<p>
  <strong>Studio & storage of art are in a basement:
  </strong>
  <%= params["Studio & storage of art are in a basement"]%>
</p>
<p>
  <strong>What is the average value of finished art work? :
  </strong>
  <%= params["finished_art_work"]%>
</p>
<p>
  <strong>What is the maximum value of single item? :
  </strong>
  <%= params["single_item"]%>
</p>
<p>
  <strong>When was the last date of inventory? :
  
  </strong>
  <%= params["card_signup"]["dob(1i)"]  %>-<%= params["card_signup"]["dob(2i)"]%>-<%=  params["card_signup"]["dob(3i)"] %>
</p>
<p>
  <strong>Number of exhibits a year? :
  
  </strong>
  <%= params["exhibits_year"]%>
</p>
<p>
  <strong>Current year :
  
  </strong>
  <%= params["current_year"]%>
</p>
<p>
  <strong>Prior year :
  
  </strong>
  <%= params["prior_year"]%>
</p>
<p>
  <strong>Name of current insurance carrier : 
  
  </strong>
  <%= params["Name of current insurance carrier"]%>
</p>
<p>
  <strong>Description Of Loss :
  
  </strong>
  <%= params["Description Of Loss"]%>
</p>
<p>
  <strong>Amount Of Loss :
  </strong>
  <%= params["Amount Of Loss"]%>
</p>


</div>