
<div class="titleBar dragonControl"><span class="title">Preview</span></div>
<div class="dialog-content">
    

<p>
  <strong>First Name : </strong>
  <%= params["first_name"] %>
</p>
<p>
  <strong>Last Name : </strong>
  <%= params["last_name"] %>
</p>
<p>
  <strong>Address 1 :</strong>
  <%= params["Address1"]%>
</p>
<p>
  <strong>Address 2 :</strong>
  <%= params["Address2"]%>
</p>
<p>
  <strong>City :</strong>
  <%= params["City"]%>
</p>
<p>
  <strong>State :</strong>
  <%= params["State"]%>
</p>    
<p>
  <strong>Zip :</strong>
  <%= params["Zip"]%>
</p> 
<p>
  <strong>Studio Address :</strong>
  <%= params["Studio_Address"]%>
</p> 
<p>
  <strong>Studio City :</strong>
  <%= params["Studio_City"]%>
</p>
<p>
  <strong>States :</strong>
  <%= params["us_states"]%>
</p>
<p>
  <strong>Zip Code :</strong>
  <%= params["Zip_Code"]%>
</p>
<p>
  <strong>Phone Number :</strong>
  <%= params["Phone_Number"]%>
</p>
<p>
  <strong>Fax:</strong>
  <%= params["Fax"]%>
</p>
<p>
  <strong>Email :</strong>
  <%= params["Email_address"]%>
</p>
<p>
  <strong>Re-type Email :</strong>
  <%= params["Retype_EMail"]%>
</p>
<p>
  <strong>Limit of Studio Insurance :</strong>
  $<%= params["higher_limits"]%>
</p>



<p>
  <strong>Limit of Insurance at Other Location :</strong>
  <%= params["limit_of_Insurance_at_Other_Location"]%>
</p>
<p>
  <strong>Limit of Insurance While in Transit :</strong>
  <%= params["limit_of_Insurance_While_in_Transit"]%>
</p>
<p>
  <strong>Policy Deductable :</strong>
  <%= params["Policy_Deductable"]%>
</p>

<p>
  <strong>Genre You Work :</strong>
  <% if params["paintings"].present? %> <%= params["paintings"]%>, <% end %> <% if params["purniture"].present? %> <%= params["purniture"]%>,<% end %> <% if params["drawings"].present? %> <%= params["drawings"]%>,<% end %> <% if params["fabrics"].present? %> <%= params["fabrics"]%> ,<% end %> <% if params["photographs"].present? %> <%= params["photographs"]%>,<% end %> <% if params["jewelry"].present? %> <%= params["jewelry"]%>,<% end %> <% if params["sculptures"].present? %> <%= params["sculptures"]%>, <% end %> <% if params["silver"].present? %> <%= params["silver"]%>,<% end %> <% if params["non_Fragile"].present? %> <%= params["non_Fragile"]%>,<% end %> <% if params["breakable"].present? %> <%= params["breakable"]%>,<% end %> <% if params["other"].present? %><%= params["other"]%> <% end %>
</p>

<p>
  <strong>Studio is located in a :</strong>
  <%= params["studio"]%>
</p>

<p>
  <strong>Studio & storage of art are in a basement? :
  </strong>
  <%= params["Studio & storage of art are in a basement"]%>
</p>

<p>
  <strong>Is there a history of a back-up drain and/or sewer? :
  </strong>
  <%= params["Is there a history of a back-up drain and/or sewer?"]%>
</p>

<p>
  <strong>If yes works stored on skits or shelf? :
  </strong>
    <%= params["If yes works stored on skits or shelf?"]%>
</p>

<p>
  <strong>Is there an automatic sprinkler system on premises? :
  </strong>
    <%= params["Is there an automatic sprinkler system on premises?"]%>
</p>

<p>
  <strong>Security :</strong>
  <% if params["deadbolts"].present? %> <%= params["deadbolts"]%>, <% end %> <% if params["alarm"].present? %> <%= params["alarm"]%> , <% end %> <% if params["local_alaram"].present? %> <%= params["local_alaram"]%> ,<% end %> <% if params["cameras"].present? %> <%= params["cameras"]%> ,<% end %> <% if params["gates"].present? %> <%= params["gates"]%> ,<% end %> <% if params["watchmen"].present? %> <%= params["watchmen"]%> ,<% end %> <% if params["no_security"].present? %> <%= params["no_security"]%> <% end %>
</p>




<p>
  <strong>What is the average value of finished art work? :
  </strong>
  <%= params["finished_art_work"]%>
</p>
<p>
  <strong>What is the maximum value of single item? :
  </strong>
  <%= params["single_item"]%>
</p>
<p>
  <strong>When was the last date of inventory? :
  
  </strong>
  <%= params["card_signup"]["dob(2i)"]%> - <%= params["card_signup"]["dob(1i)"]  %>
</p>
<p>
  <strong>Number of exhibits a year? :</strong>

  <% if params["exhibits_year"] == "0" %> 5 or less <% else %> <%= params["exhibits_year"] %> <% end %>
</p>
<p>
  <strong>Current year :
  
  </strong>
  <%= params["current_year"]%>
</p>
<p>
  <strong>Prior year :
  
  </strong>
  <%= params["prior_year"]%>
</p>
<p>
  <strong>Name of current insurance carrier : 
  
  </strong>
  <%= params["Name of current insurance carrier"]%>
</p>
<p>
  <strong>Description Of Loss :
  
  </strong>
  <%= params["Description Of Loss"]%>
</p>
<p>
  <strong>Amount Of Loss :
  </strong>
  <%= params["Amount Of Loss"]%>
</p>


</div>