
<style type="text/css">
  
  .left { background: none; border: medium none; min-height: 0; padding: 0; }
  .right{ margin:0 15px 20px 20px; width:auto; float:right; text-align:center; font-family:"Times New Roman", Times, serif; font-size:15px; color:#000000}
  </style>

<div class="titleBar dragonControl"><span class="title">Preview</span></div>
<div class="dialog-content">

  <div>
    
  <div class="left"><h1 style="color: #16559D;font-family: Arial; font-size: 30px; font-weight: bold;">Bernard Fleischer & Sons</h1></div>
  <div class="right">29 Broadway, Suite 1511, New York NY 10006
        <br>
    212 566-1881 www.bfbond.com</div>
  
  </div>

    <div style="clear:both; margin:0 auto">
      <div>
        <span style="font-style:italic">
        <p> QUOTE / INDICATION</p>

        Based on the information you have provided us, we are pleased to offer the following terms. This quote is open for 60days from the dated quoted <% dated = Date.today+1 %><%= dated.strftime("%m-%d-%y") %>.    
        This        
        quote is subject to no losses prior to commencement and/or no material change in coverage.  
        </span> 
        <p>&nbsp;</p>
      </div>
    </div> 

 <table width="100%">
  <tr>
    <td width="20%" valign="top"><strong>Company</strong></td>
    <td align="left">Markel Insurance Company Ten Parkway North, Deerfield, Illinois 60015 <br/>
      Best Rated A (Excellent); Financial Size Category: XIV
    </td>
  </tr>
  <tr>
    <td width="20%"><strong>Producer</strong></td>
    <td align="left">
      <% if params["us_states"] == "Alaska" || params["us_states"] == "Arizona" || params["us_states"] == "Arkansas" || params["us_states"] == "Colorado" || params["us_states"] == "Delaware" || params["us_states"] =="District of Columbia" || params["us_states"] =="Florida" || params["us_states"] == "Hawaii" || params["us_states"] == "Idaho" || params["us_states"] == "Illinois" || params["us_states"] == "Indiana" || params["us_states"] == "Kansas" || params["us_states"] == "Kentucky" || params["us_states"] =="Louisiana" || params["us_states"] =="Maine" || params["us_states"] =="Maryland" || params["us_states"] =="Massachusetts" || params["us_states"] =="Mississippi" || params["us_states"] == "Michigan" || params["us_states"] == "Minnesota" || params["us_states"] == "Nebraska" || params["us_states"] == "Nevada" || params["us_states"] == "New Hampshire" || params["us_states"] =="New Jersey" || params["us_states"] =="New York" || params["us_states"] == "North Carolina" || params["us_states"] == "Ohio" || params["us_states"] == "Oregon" || params["us_states"] =="Rhode Island" || params["us_states"] == "South Carolina" || params["us_states"] == "South Dakota" || params["us_states"] == "Tennessee" || params["us_states"] == "Utah" || params["us_states"] == "Vermont" || params["us_states"] == "Virginia" || params["us_states"] == "Washington" || params["us_states"] == "West Virginia" || params["us_states"] == "Wisconsin" || params["us_states"] == "Wyoming" %>
      
      William Fleischer
    <% elsif params["us_states"] == "Connecticut" || params["us_states"] == "California" || params["us_states"] =="Georgia" || params["us_states"] == "Iowa" ||   params["us_states"] == "North Dakota" || params["us_states"] == "New Mexico" || params["us_states"] =="Pennsylvania" %>
      
      William Fleischer/ Bernard Fleischer & Sons

    <% elsif params["us_states"] == "Texas" %>
      Bernard Fleischer & Sons
  <% end %>
    </td>
  </tr>
   <tr>
    <td width="20%"><strong>Named Insured</strong></td>
    <td align="left"><%= params["first_name"] %> <%= params["last_name"] %></td>
  </tr>
   <tr>
    <td width="20%"><strong>Mailing Address</strong></td>
    <td align="left"><%= params["Address1"]%> <%= params["Address2"]%>, <%= params["City"]%>, <% if params["State"] %> <%= params["State"]%> <% else %> <%= params["us_states"]%> <% end %> <%= params["Zip"]%></td>
  </tr>
   <tr>
    <td width="20%"><strong>Period</strong></td>
    <td align="left">12 Months from date to be agreed upon</td>
  </tr>
  <tr>
    <td width="20%"><strong>Type of Insurance</strong></td>
    <td align="left">Markel Commercial Artist Form</td>
  </tr>
 
  <tr>
    <td width="20%" valign="top"><strong>Covered Property</strong></td>
    <td align="left">Works of art by you being held for sale or sold but not delivered or  removed, your property or the property of others in your care, custody or   control and for which you may be liable or assume liability prior to loss or  damage.</td>
  </tr>

  <tr>
    <td width="20%"><strong>Covered Locations</strong></td>
    <td align="left"><%= params["Studio_Address"]%> <%= params["Studio_Address2"]%>, <%= params["Studio_City"]%>,  <%= params["us_states"]%> <%= params["Zip_Code"]%></td>
  </tr>

  <tr>
    <td width="20%" valign="top"><strong>Limits of Liability</strong></td>
    <td align="left">$ <% if params["higher_limits"] == '1000' %>100,000
      <% elsif params["higher_limits"] == '1062' %>125,000
      <% elsif params["higher_limits"] == '1203' %>150,000
      <% elsif params["higher_limits"] == '1344' %>175,000
      <% elsif params["higher_limits"] == '1484' %>200,000
      <% elsif params["higher_limits"] == '1625' %>225,000
      <% elsif params["higher_limits"] == '1765' %>250,000
      <% elsif params["higher_limits"] == '1907' %>275,000
      <% elsif params["higher_limits"] == '2047' %>300,000
      <% end %> Blanket over Covered Locations $100,000.00 At any unnamed location $100,000.00 While in transit $100,000.00 Exhibition</td>
  </tr>

  <tr>
    <td width="20%"><strong>Co-insurance</strong></td>
    <td align="left">None</td>
  </tr>

  <tr>
    <td width="20%" valign="top"><strong>Coverage</strong></td>
    <td align="left">
      <% if params["us_states"] == "Arizona" || params["us_states"] == "Alaska" || params["us_states"] == "Arkansas" || params["us_states"] == "California" || params["us_states"] == "Colorado" || params["us_states"] == "Hawaii" || params["us_states"] == "Idaho" || params["us_states"] == "Illinois" || params["us_states"] == "Indiana" || params["us_states"] == "Iowa" || params["us_states"] == "Kansas" || params["us_states"] == "Kentucky" || params["us_states"] == "Michigan" || params["us_states"] == "Minnesota" || params["us_states"] == "Nebraska" || params["us_states"] == "Nevada" || params["us_states"] == "New Hampshire" || params["us_states"] == "New Mexico" || params["us_states"] == "North Dakota" ||params["us_states"] == "Ohio" || params["us_states"] == "Oregon" || params["us_states"] == "South Dakota" || params["us_states"] == "Tennessee" || params["us_states"] == "Utah" || params["us_states"] == "Vermont" || params["us_states"] == "Virginia" || params["us_states"] == "Washington" || params["us_states"] == "West Virginia" || params["us_states"] == "Wisconsin" || params["us_states"] == "Wyoming" %>
      
      Earthquake Exclusion, Mold Exclusion

    <% elsif params["us_states"] == "Connecticut" || params["us_states"] == "Delaware" || params["us_states"] =="District of Columbia" || params["us_states"] =="Florida" || params["us_states"] =="Georgia" || params["us_states"] =="Louisiana" || params["us_states"] =="Maine" || params["us_states"] =="Maryland" || params["us_states"] =="Massachusetts" || params["us_states"] =="Mississippi" || params["us_states"] =="New Jersey" || params["us_states"] =="New York" || params["us_states"] == "North Carolina" || params["us_states"] =="Pennsylvania" || params["us_states"] =="Rhode Island" || params["us_states"] == "South Carolina" || params["us_states"] == "Texas"%>
    Earthquake Exclusion, Mold Exclusion, Download Water, Wind Exclusion

  <% end %>
</td>
  </tr>

  <tr>
    <td width="20%" valign="top"><strong>Valuation</strong></td>
    <td align="left">Completed Work, If sold valued at your selling price.
  Completed Work, if not sold, at selling price less 30% Property not marked for sale, your cost</td>
  </tr>

  <tr>
    <td width="20%"><strong>Territory</strong></td>
    <td align="left">Worldwide</td>
  </tr>

  <tr>
    <td width="20%"><strong>TRIA Coverage</strong></td>
    <td align="left">Optional</td>
  </tr>

  <tr>
    <td width="20%"><strong>Deductible</strong></td>
    <td align="left"><%= params["Policy_Deductable"]%>.00 per occurrence</td>
  </tr>

  <tr>
    <td width="20%"><strong>Premium</strong></td>
    <td align="left">
      <% premium = params["higher_limits"].to_i + params["exhibits_year"].to_i %>
      <%= number_to_currency(premium) %> annually</td>
  </tr>
  <tr>
    <td width="20%"><strong>Payment</strong></td>
    <td align="left">Full pay </td>
  </tr>

 </table>

    <div style="clear:both; margin:0 auto">
      <div>
        <p>&nbsp;</p>
        <span style="font-style:italic">
        <p> This proposal may differ from coverage requested in applications or other communications sent to us during the underwriting process.  Any amendments, coverage additions or deletions or any other changes to the coverages  outlined in this proposal can affect final premiums.  All taxes and fees included in premium charges are estimated and may vary at issuance.</p>

        <p>It is your duty to disclose all material facts to Markel underwriters prior to inception of the policy, and to keep them advised of any such facts or changes to such facts throughout the currency of the policy, and upon renewal of the policy.  All material information concerning the risk including any loss or claim statistics should be accurate and kept up to date at all times.  A material fact is a fact which may influence an underwriter’s judgment in their assessment of a risk.  If you are in doubt as to whether a fact is material, we recommend that it be disclosed.  Failure to disclose material fact may entitle underwriters to avoid the policy from inception.</p>
        </span> 
        <p>&nbsp;</p>
      </div>
    </div> 



</div>