
<div class="titleBar dragonControl"><span class="title">Preview</span></div>
<div class="dialog-content">
    
       
<p>
  <strong>Name of Applicant:</strong>
  <%= params["name_of_applicant"]%>
</p>
<p>
  <strong>Address 1</strong>
  <%= params["Address1"]%>
</p>
<p>
  <strong>Address 2</strong>
  <%= params["Address2"]%>
</p>
<p>
  <strong>City</strong>
  <%= params["City"]%>
</p>
<p>
  <strong>State</strong>
  <%= params["State"]%>
</p>    
<p>
  <strong>Zip+4</strong>
  <%= params["Zip+4"]%>
</p> 
<p>
  <strong>Studio Address</strong>
  <%= params["Studio_Address"]%>
</p> 
<p>
  <strong>States</strong>
  <%= params["us_states"]%>
</p>
<p>
  <strong>Zip Code</strong>
  <%= params["Zip_Code"]%>
</p>
<p>
  <strong>Phone Number</strong>
  <%= params["Phone_Number"]%>
</p>
<p>
  <strong>Phone_Number</strong>
  <%= params["Phone_Number"]%>
</p>

</div>