

        <style type="text/css">
            body { background-color:#fff; }
          
            #wrapper{
                border: 1px solid #DCDADA;
                border-radius: 5px 5px 5px 5px;
                box-shadow: 2px 2px 2px #E1E1E1;
                background: #fff;
                width:auto;
                height:auto;
                background:#f4f4f4;
                overflow: hidden;
                min-height: 670px;

            }
            #wrapper h3{
                font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
                font-size:20px;
                height:60px;
                margin:0;
                padding:16px 0 0 20px;
                
                color:#000;
            }
            #slider {

                background: #fff;
                /*IE bugfix*/
                padding:0;
                margin:0;
                width:auto;
                height:400px; 

            }

            #slider li { list-style:none; }

            #page {
                width:auto;
                margin:20px auto;
            }

            #slider{
                color: #000;
                background:#f4f4f4;
                font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
                font-size:12px;
                position: static!important
            }

            .form-step{

                padding:0 !important; top: 30px!important;
                min-height: 1100px;

            }

            .form-submit{
                cursor: pointer;
                display: block;
                position: absolute;
                right: 0;
                bottom: -110px;
                -moz-user-select: none;
                background: none repeat scroll 0 0 #6F95DC;
                border-radius: 5px 5px 5px 5px;
                color: #FFFFFF;
                display: block;
                margin: 0 20px 20px;
                padding: 10px;
                text-align: center;
                width: 125px;
                z-index: 10;
                font-weight: bold;
                text-decoration: none;
                background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#94b9e9), to(#4870d2));
                background-image: -moz-linear-gradient(#94b9e9, #4870d2);
                background-image: -webkit-linear-gradient(#94b9e9, #4870d2);
                background-image: -o-linear-gradient(#94b9e9, #4870d2);
                filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#94b9e9, endColorstr=#4870d2)";
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#94b9e9, endColorstr=#4870d2)";
                font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;

            }

            .errorDisplay{
                border:2px solid red;
            }

            .form-left{
                color: #717171;
                float: left;
                font-size: 13px;
                font-weight: bold;
                padding: 5px;
                width: 200px;
            }
            .form-right{
                float: left;
                width: 214px;
            }
            .row1{
                float: left;
                margin: 5px 0;
                width: 100%;
            }
            .form-step input[type='text']{
                border: 1px solid #CFCFCF;
                border-radius: 4px 4px 4px 4px;
                height: 25px;
                padding: 3px;
                width: 200px;
            }
            select{
                border-radius: 4px;
                border: 1px solid #CFCFCF;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                background: #FFF;
                padding: 2px;
                height: 30px;
                width:205px;
                font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
                font-size:12px;
                background:#f4f4f4;
            }

            select option{
                font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
                font-size:12px;
                background:#f4f4f4;
                color:#717171;
            }


            .form-error{
                color: red;
                font-size: 12px;
                float :left;
                padding: 5px;
            }

            .step-error{
                background:#f5715f !important;
                color:#FFF !important;
                -moz-box-shadow:1px 1px 4px #C6C4C4
                    -webkit-box-shadow:1px 1px 4px #C6C4C4
                    box-shadow:1px 1px 4px #C6C4C4
            }
            .step-success{
                background:#72e487 !important;
                color:#FFF !important;
                -moz-box-shadow:1px 1px 1px 4px #C6C4C4
                    -webkit-box-shadow:1px 1px 1px 4px #C6C4C4
                    box-shadow:1px 1px 1px 4px #C6C4C4
            }
            .bullet-desc{
                font-size: 14px;
                font-weight: bold;
            }


            .row2 {
             float: left;
             margin: 0 0;
             width: 100%;
            }


form {
    margin: 0 !important;
}



            @media only screen and (min-width: 320px) and (max-width: 768px) {

            .form-step {
                min-height: 1050px;
                padding: 0 !important;
                top: 220px !important;
            }

            #wrapper{
                border: 1px solid #DCDADA;
                border-radius: 5px 5px 5px 5px;
                box-shadow: 2px 2px 2px #E1E1E1;
                background: #fff;
                width:auto;
                height:auto;
                background:#f4f4f4;
                overflow: hidden;
                min-height: 1300px;}


                 .form-submit{
                
                bottom: -835px;
                width: 73px; }





        }


        </style>



<div class="container">

            <div id="wrapper">

                <h3>Artist Studio, Transport & Exhibition Coverage</h3>
                <%= form_tag url_for(:controller => 'artists', :action => 'create'), :method => 'post',:id => 'feedbackform' do |f| %>
                <%= javascript_include_tag "facebox.js" %>
                <%= stylesheet_link_tag "facebox.css" %>

                <script>
    
                    jQuery.noConflict();
                     
                    jQuery(document).ready(function() {
                    var valuesToSubmit = jQuery('#feedbackform').serialize();
                    jQuery('#previes123').click(function() {
                          jQuery.ajax({
                          type: "POST",
                          url: "<%= artist_preview_artists_path %>",
                          data: valuesToSubmit,
                          });
                        });
                     });
                </script>
                   

                   
                    <div id="slider">
                        <div class="form-step" >

                        <div class="span6">
                        

                            <div class="row1">
                                <div class="form-left">Name of Applicant <span style="color:red;">*</span></div>
                                <div class="form-right"><%=text_field_tag 'name_of_applicant'%> <a class="more" title="" rel="tooltip" href="#" data-original-title="Name of Applicant" style="float:right"> <strong> ?</strong></a></div>
                                <div class="form-error"></div>
                            </div>


                            <div class="row1">
                                <div class="form-left">Address 1<span style="color:red;">*</span></div>
                                <div class="form-right"> <%=text_field_tag 'Address1'%></div>
                                <div class="form-error"></div>
                            </div> 

                            <div class="row1">
                                <div class="form-left">Address 2</div>
                                <div class="form-right"> <%=text_field_tag 'Address2'%></div>
                                <div class="form-error"></div>
                            </div> 

                            <div class="row1">
                                <div class="form-left">City<span style="color:red;">*</span></div>
                                <div class="form-right"> <%=text_field_tag 'City'%></div>
                                <div class="form-error"></div>
                            </div> 

                            <div class="row1">
                                <div class="form-left">State<span style="color:red;">*</span></div>
                                <div class="form-right"> <%=text_field_tag 'State'%></div>
                                <div class="form-error"></div>
                            </div> 

                            <div class="row1">
                                <div class="form-left"> Zip +4<span style="color:red;">*</span></div>
                                <div class="form-right"> <%=text_field_tag 'Zip+4'%></div>
                                <div class="form-error"></div>
                            </div> 


                             <div class="row1">
                                <div class="form-left">Studio Address <span style="color:red;">*</span></div>
                                <div class="form-right">  <%=text_field_tag 'Studio_Address'%></div>
                                <div class="form-error"></div>
                            </div>

                            <div class="row1">
                                <div class="form-left">State <span style="color:red;">*</span></div>
                                <div class="form-right">
                                    <select id ="us_states" name="us_states">
                                      <% us_states.each do |us_states|%>
                                       <option value="<%=us_states%>"><%= us_states%></option>
                                     <%end%>
                                    </select>
                                </div>
                                <div class="form-error"></div>
                            </div>



                        </div>


                          <div class="span5">
                          

                          


                            <div class="row1">
                                <div class="form-left">Zip Code<span style="color:red;">*</span></div>
                                <div class="form-right"> <%=text_field_tag 'Zip_Code'%></div>
                                <div class="form-error"></div>
                            </div>


                            <div class="row1">
                                <div class="form-left">Phone Number</div>
                                <div class="form-right">  <%=text_field_tag 'Phone_Number' %></div>
                                <div class="form-error"></div>
                            </div>


                            <div class="row1">
                                <div class="form-left">Fax</div>
                                <div class="form-right"> <%=text_field_tag 'Fax'%></div>
                                <div class="form-error"></div>
                            </div>


                             <div class="row1">
                                <div class="form-left">Email Address<span style="color:red;">*</span></div>
                                <div class="form-right"> <%=text_field_tag 'Email_address'%></div>
                                <div class="form-error"></div>
                            </div>


                             <div class="row1">
                                <div class="form-left">Re-type Email<span style="color:red;">*</span></div>
                                <div class="form-right"> <%=text_field_tag 'Retype_EMail'%></div>
                                <div class="form-error"></div>

                            </div>




                          </div>

                        </div>





                        <div class="form-step" >

                        <div class="span6">

                            <h2 style="font-size:23.5px!important;"> Limits of Insurance</h2>
                            <div class="row1">
                                <div class="form-left">Limit of Studio Insurance <span style="color:red;">*</span></div>
                                <div class="form-right">
                                   <%= select_tag(:higher_limits, options_for_select([ ['$100,000','$ 1,000'], ['$125,000', '$ 1,062'], ['$150,000','$ 1,203'], ['$175,000','$ 1,344'], ['$200,000','$ 1,484'], ['$225,000','$ 1,025'], ['$250,000','$ 1,765'],['$275,000','$ 1,907'],['$300,000','$ 2,047']],selected: :higher_limits )) %>
                                </div>
                                <div class="form-error"></div>
                            </div>



                            <div class="row1">
                                <div class="form-left">Limit of Insurance at Other Location <span style="color:red;">*</span></div>
                                <div class="form-right">
                                    <div class="form-right"> <%=text_field_tag 'limit_of_Insurance_at_Other_Location',nil,value:'$100,000'%></div>
                                   </br>
                                </div>
                                <div class="form-error"></div>
                            </div>


                            <div class="row1">
                                <div class="form-left">Limit of Insurance While in Transit <span style="color:red;">*</span></div>
                                <div class="form-right">

                                    <div class="form-right"> <%=text_field_tag 'limit_of_Insurance_While_in_Transit',nil,value:'$100,000'%></div>
                                   </br>
                                </div>
                                
                                <div class="form-error"></div>
                            </div> 



                            <div class="row1">
                                <div class="form-left">Policy Deductable<span style="color:red;">*</span></div>
                                <div class="form-right"><%=text_field_tag 'Policy_Deductable',nil,value: '$100,000'%></div>
                                <div class="form-error"></div>
                            </div>

                        </div>



                        <div class="span5">
                         

                        <h2 style="font-size:23.5px!important;">You Work (Check all that apply)</h2>
                             
                            <div class="row2">
                                <div class="form-left">Paintings</div>
                                <div class="form-right"><input type="checkbox" name="checkbox" id="checkbox_id" value="Paintings"></div>
                                 <div class="form-error"></div>
                             </div> 

                             <div class="row2">
                                <div class="form-left">Furniture</div>
                                <div class="form-right"><input type="checkbox" name="checkbox" id="checkbox_id" value="Furniture"></div>
                                <div class="form-error"></div>
                            </div>
                        
                          
                            <div class="row2">
                                <div class="form-left">Drawings </div>
                                <div class="form-right"><input type="checkbox" name="checkbox" id="checkbox_id" value="Drawings"></div>
                                 <div class="form-error"></div>
                             </div>

                             <div class="row2">
                                <div class="form-left">Tapestries, Rugs, Fabrics</div>
                                <div class="form-right"><input type="checkbox" name="checkbox" id="checkbox_id" value="Tapestries, Rugs, Fabrics"></div>
                                <div class="form-error"></div>
                            </div>


                            

                             <div class="row2">
                                <div class="form-left">Photographs</div>
                                <div class="form-right"><input type="checkbox" name="checkbox" id="checkbox_id" value="Photographs"></div>
                                <div class="form-error"></div>
                              </div>


                              <div class="row2">
                                <div class="form-left">Antique Jewelry</div>
                                <div class="form-right"><input type="checkbox" name="checkbox" id="checkbox_id" value="Antique Jewelry"></div>
                                <div class="form-error"></div>                              
                            </div>

                             

                            <div class="row2">
                                <div class="form-left">Sculptures – Fragile</div>
                                <div class="form-right"><input type="checkbox" name="checkbox" id="checkbox_id" value="Sculptures – Fragile"></div>
                                <div class="form-error"></div>
                            </div>


                             <div class="row2">
                                <div class="form-left">Silver</div>
                                <div class="form-right"><input type="checkbox" name="checkbox" id="checkbox_id" value="Silver"></div>
                                <div class="form-error"></div>                               
                            </div>

                            

                            <div class="row2">
                                <div class="form-left">Sculptures – Non Fragile</div>
                                <div class="form-right"><input type="checkbox" name="checkbox" id="checkbox_id" value="Sculptures – Non Fragile"></div>
                                <div class="form-error"></div>
                             </div>

                            <div class="row2">
                                <div class="form-left">Breakable (glass, ceramics, etc.)</div>
                                <div class="form-right"><input type="checkbox" name="checkbox" id="checkbox_id" value="Breakable (glass, ceramics, etc.)"></div>
                                <div class="form-error"></div>                              
                            </div>



                        </div>

                            
    

                        </div>



                        <div class="form-step">


                          <div class="span6">

                         

                            <%=label_tag 'Studio is located in a' %>
                                <select id="prior_year" name="studio">
                                           <% studio.each do |studio|%>
                                             <option value="<%=studio%>"><%= studio%></option>
                                           <%end%>
                                </select></br>
                                                            
                                      

                             <div class="row2">
                                <div class="form-left">Year Built?</div>
                                 <div class="form-left">Pre 1950

                                 <input type="checkbox" name="checkbox" id="checkbox_id" value="Pre 1950">

                                 </div>

                                <div class="form-right"></div>
                                    <div class="form-left">After 1950 <input type="checkbox" name=" checkbox" id="checkbox_id" value="After 1950"></div>
                                        <div class="form-right"></div>
                                        <div class="form-error"></div> 
                                    </div>





                             <div class="row2">
                                <div class="form-left">Studio & storage of art are in a basement? </div>
                                <div class="form-right">
                                     <input type="radio" name="Studio & storage of art are in a basement" value="Do you keep a record of sales?">&nbsp;&nbsp;Yes
                                     <input type="radio" name="Studio & storage of art are in a basement" value="Do you keep a record of sales?">&nbsp;&nbsp;No<br>
                                </div>                               
                              </div>   



                            <div class="row2">
                                <div class="form-left">Is there a history of a back-up drain and/or sewer? </div>
                                <div class="form-right">
                                     <input type="radio" name="Is there a history of a back-up drain and/or sewer?" value="Do you keep a record of sales?">&nbsp;&nbsp;Yes
                                     <input type="radio" name="Is there a history of a back-up drain and/or sewer?" value="Do you keep a record of sales?">&nbsp;&nbsp;No<br>
                                </div>
                            </div>   



                            <div class="row2">
                                <div class="form-left">If yes works stored on skits or shelf?</div>
                                <div class="form-right">
                                     <input type="radio" name="If yes works stored on skits or shelf?" value="Do you keep a record of sales?">&nbsp;&nbsp;Yes
                                     <input type="radio" name="If yes works stored on skits or shelf?" value="Do you keep a record of sales?">&nbsp;&nbsp;No<br>
                                </div>
                            </div> 

                            <h2 style="font-size:23.5px!important;">Fire Protection</h2>
                            <div class="row1">
                                <div class="form-left" style="margin-botom:10px">Is there an automatic sprinkler system on premises?</div>
                                <div class="form-right">
                                    <input type="radio" name="Is there an automatic sprinkler system on premises?" value="Is there an automatic sprinkler system on premises?">&nbsp;&nbsp;Yes
                                    <input type="radio" name="Is there an automatic sprinkler system on premises?" value="Is there an automatic sprinkler system on premises?">&nbsp;&nbsp;No<br>
                                </div>
                                <div class="form-error"></div>
                            </div>

                          </div>




                           <div class="span5">

                            <h2 style="font-size:23.5px!important;"> Security</h2>
                            <div class="row1">
                                <div class="form-left">Deadbolts</div>
                                <div class="form-right"><input type="checkbox" name="checkbox" id="checkbox_id" value="Deadbolts"></div>
                                <div class="form-error"></div>
                            </div>
                            <div class="row1">
                                <div class="form-left">Alarm system – rings to central base</div>
                                <div class="form-right"><input type="checkbox" name="checkbox" id="checkbox_id" value="value"></div>
                                <div class="form-error"></div>
                               
                            </div>
                        
                          
                            <div class="row1">
                                <div class="form-left">Only local alarm system </div>
                                <div class="form-right"><input type="checkbox" name="checkbox" id="checkbox_id" value="value"></div>
                                <div class="form-error"></div>
                            </div>
                            <div class="row1">
                                <div class="form-left">Cameras</div>
                                <div class="form-right"><input type="checkbox" name="checkbox" id="checkbox_id" value="value"></div>
                                <div class="form-error"></div>
                               
                            </div>
                             <div class="row1">
                                <div class="form-left">Gates</div>
                                <div class="form-right"><input type="checkbox" name="checkbox" id="checkbox_id" value="value"></div>
                                <div class="form-error"></div>
                               
                            </div>
                             <div class="row1">
                                <div class="form-left">Watchmen/guards/ doorman</div>
                                <div class="form-right"><input type="checkbox" name="checkbox" id="checkbox_id" value="value"></div>
                                <div class="form-error"></div>
                               
                            </div>
                           </div>

                         </div>







                          <div class="form-step">

                          <div class="span6">



                          <h2 style="font-size:23.5px!important;"> Exposure</h2>
                             <div class="row1">
                                <div class="form-left">What is the average value of finished art work? <span style="color:red;">*</span></div>
                                <div class="form-right">
                                      <select id="finished_art_work" name="finished_art_work">
                                     <% finished_art_work.each do |work|%>
                                       <option value="<%=work%>"><%= work%></option>
                                     <%end%>
                                      </select>
                                </div>
                               <div class="form-error"></div>
                            </div>


                            <div class="row1">
                                <div class="form-left">What is the maximum value of single item? <span style="color:red;">*</span></div>
                                <div class="form-right">
                                      <select id="single_item" name="single_item">
                                        <% single_item.each do |single_item|%>
                                        <option value="<%=single_item%>"><%= single_item%></option>
                                        <%end%>
                                       </select>
                                </div>
                                <div class="form-error"></div>                               
                            </div>


                            <div class="row1">
                                <div class="form-left">Do you keep a detailed and itemized?</div>
                                <div class="form-right">
                                     <input type="radio" name="Do you keep a detailed and itemized?" value="Do you keep a detailed and itemized?">&nbsp;&nbsp;Yes
                                    <input type="radio" name="Do you keep a detailed and itemized?" value="Do you keep a detailed and itemized?">&nbsp;&nbsp;No
                                </div>
                            </div>
                                
                               


                             


                             <div class="row1">
                                <div class="form-left">Do you keep a record of sales? </div>
                                <div class="form-right">
                                     <input type="radio" name="Do you keep a record of sales?" value="Do you keep a record of sales?">&nbsp;&nbsp;Yes
                                     <input type="radio" name="Do you keep a record of sales?" value="Do you keep a record of sales?">&nbsp;&nbsp;No<br>
                                </div>
                            </div>
                           
                           </div>


                           <div class="span5">

                           <div class="row1">
                                <div class="form-left">When was the last date of inventory?</div>
                                <div class="form-right">  <%= date_select("card_signup", "dob", { :end_year => DateTime.now.year - 4, :start_year => DateTime.now.year
                                         },
                                         :style => "width: 62px;")%></div>
                                <div class="form-error"></div>
                            </div>


                            <div class="row1">
                                <div class="form-left">Do you maintain a duplicate inventory off-site?</div>
                                <div class="form-right">
                                    <input type="radio" name="Do you maintain a duplicate inventory off-site?" value="Do you maintain a duplicate inventory off-site?">&nbsp;&nbsp;Yes
                                    <input type="radio" name="Do you maintain a duplicate inventory off-site?" value="Do you maintain a duplicate inventory off-site?">&nbsp;&nbsp;No<br>
                                </div>                               
                            </div>


                              <div class="row1">
                                <div class="form-left">Number of exhibits a year? <span style="color:red;">*</span></div>
                                <div class="form-right">
                                <%= select_tag(:exhibits_year, options_for_select([['5 or less'], ['6 - $25', 25], ['7 - $50', 50], ['8 - $75', 75], ['9 - $100', 100], ['10 - $125', 125], ['11 - $150', 150], ['12 - $175', 175],['13 - $200', 200],['14 - $225', 225],['15 - $250', 250]],selected: :exhibits_year )) %>
                                </div>
                                <div class="form-error"></div>
                              </div>
                          </div>

                          </div>


                          

                          <div class="form-step">

                          <div class="span6">

                          <div class="row1">
                                <span style="font-size:19px!important;">Annual Sales</span> <br/>
                                <div class="form-left">Current year <span style="color:red;">*</span></div>
                                <div class="form-right">
                                   <select id="current_year" name="current_year">
                                     <% current_year.each do |current_year|%>
                                       <option value="<%=current_year%>"><%= current_year%></option>
                                     <%end%>
                                    </select>
                                </div>
                                <div class="form-error"></div>
                            </div>


                            <div class="row1">
                                <div class="form-left">Prior year <span style="color:red;">*</span></div>
                                <div class="form-right">

                                   <select id="prior_year" name="prior_year">
                                   <% prior_year.each do |prior_year|%>
                                     <option value="<%=prior_year%>"><%= prior_year%></option>
                                   <%end%>
                                     </select>
                                </div>
                                <div class="form-error"></div>
                            </div>


                            <div class="row1">
                                <div class="form-left">Name of current insurance carrier <span style="color:red;">*</span></div>
                                <div class="form-right">
                                   <%=text_field_tag 'Name of current insurance carrier'%>
                                     </select>
                                </div>
                                <div class="form-error"></div>
                            </div>
                            
                            <div class="row1">
                                <span style="font-size:19px!important;">Lost history (For last 5 years)</span> &nbsp;&nbsp;&nbsp;&nbsp;
                                 <a href="javascript:void(0);" onclick="hideStuff('loss', 'show', this); return false;" id="hide">Skip</a>
                                 <a href="javascript:void(0);" onclick="showStuff('loss', 'hide', this); return false;" style="display: none;" id="show">show</a>
                            </div>

                            <div id="loss">
                            <div class="row1">
                                <div class="form-left">Description Of Loss</div>
                                <div class="form-right"><%=text_field_tag 'Description Of Loss'%></div>
                                <div class="form-error"></div>
                            </div>

                            <div class="row1">
                                <div class="form-left">Amount Of Loss</div>
                                <div class="form-right"> <%=text_field_tag 'Amount Of Loss'%></div>
                                <div class="form-error"></div>
                            </div> 

                             <div class="row1">
                                <div class="form-left">Date</div>

                                <div class="form-right">  <%= date_select("card_signup", "dob", { :end_year => DateTime.now.year + 10,:start_year => DateTime.now.year - 200
                                         },
                                         :style => "width: 62px;")%></div>
                                <div class="form-error"></div>
                            </div>
                            <div class="form-right">
                                    <div class="actions" >
                                <%= link_to "Preview", "javascript:void(0);", :id=>"previes123", :class=>"sbt-btn", :style=>"position: relative; padding: 9px 10px; top: -2px;"%>


                                    </div>
                                </div>


                            <div class="row1">
                                <div class="form-left"></div>

                                <div class="form-right">
                                    
                                    <div class="actions" >

                                    <%= submit_tag 'Submit',:class => "sbt-btn", :style=>"width: 110px; position: relative; margin: 0px; bottom: -10px;" %>
                                
                                     </div>
                                </div>


                                
                               
                            </div>
                            </div>


                          
                         </div>
                       </div>
                            

           


                            
            </div>
             <% end %>
        </div>
      
    </div>





    <script>

    var dropdown = document.getElementById("us_states");
    dropdown.onchange = function(event){
    if(dropdown.value=="Alabama" || dropdown.value=="Connecticut" || dropdown.value=="Delaware" || dropdown.value=="Florida" || dropdown.value=="Georgia" || dropdown.value=="Louisiana" || dropdown.value=="Maine"  || dropdown.value=="Mississippi"  || dropdown.value=="New Jersey" || dropdown.value=="New York" || dropdown.value=="North Carolina"  || dropdown.value=="California"  || dropdown.value=="Pennsylvania" || dropdown.value=="South Carolina"  || dropdown.value=="Texas"  ||dropdown.value=="Virginia" ){
        confirm("This program exclude flood and windstorms in your area.would you like to continue?")
    }
}
</script>   


<script type="text/javascript">
function hideStuff(id,div1, btn) {
    document.getElementById(id).style.display = 'none';
    // hide the link
    btn.style.display = 'none';
    document.getElementById(div1).style.display = 'block';
}

function showStuff(id,div2, btn) {
    document.getElementById(id).style.display = 'block';
    // hide the link
    btn.style.display = 'none';
    document.getElementById(div2).style.display = 'block';
}
</script>
