 <div class="container form_bg" style="margin-top:10px">
			<div class="row">
			
			
				<div class="span12 footer">
				 © 2004 Bernard Fleischer & Sons, Inc.
				</div>
			
			</div>
	  </div>
		
	</div>

</header>

	<div class="container">
		<div class="row">
			<div class="span3">
				
			</div>
			
			<div class="span9">
				
			
			</div>
		</div>
	</div>
	


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<%= javascript_include_tag "jquery.flexslider.js" %>

	<script type="text/javascript">
   
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
                       
    });
  </script>
		


	

 
  <%= javascript_include_tag "bootstrap.js","rhinoslider-1.05.min.js","mousewheel.js","easing.js" %> 


    <script type="text/javascript">
        $(document).ready(function() {
                $('#slider').rhinoslider({
                    controlsPlayPause: false,
                    controlsKeyboard:false,
                    showControls: 'always',
                    showBullets: 'always',
                    controlsMousewheel: false,
                    prevText: 'Back',
                    nextText:'Proceed',
                    slidePrevDirection: 'toRight',
                    slideNextDirection: 'toLeft'
                });

                

                $(".rhino-prev").hide();
                $('.rhino-next').after('<a class="form-submit" href="javascript:void(0);" >Proceed</a>');
                $(".rhino-next").hide();




                var info = ["Step 1 ","Step 2","Step 3","Step 4","Step 5"];
                
                $('.rhino-bullet').each(function(index){
                    $(this).html(info[index]+'</a>');
                });





            });

            
            $(document).on('click', '.form-submit', function(){
               
                $('.form-error').html("");

                var current_tab = $('#slider').find('.rhino-active').attr("id");

                switch(current_tab){
                    case 'rhino-item0':
                        step1_validation();
                        break;
                    case 'rhino-item1':
                        step2_validation();
                        break;
                    case 'rhino-item2':
                        step3_validation();
                        break;
                    case 'rhino-item3':
                        step4_validation();
                        break; 
                    case 'rhino-item4':
                        step5_validation();
                        break;           
                }
            });

            var step1_validation = function(){

                var err = 0;
               
                var userinput1 = $('#Email_address').val();
                var userinput2 = $('#Retype_EMail').val();
                var userinput3 = $('#Phone_Number').val();
                var userinput4 = $('#Fax').val();

                var pattern = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i;
                var pattern1 = /^[(]{0,1}[0-9]{3}[)\.\- ]{0,1}[0-9]{3}[\.\- ]{0,1}[0-9]{4}$/;
                
                if($('#first_name').val() == ''){
                    
                    err++;
                }

                if($('#last_name').val() == ''){
                    
                    err++;
                }
                if($('#Address1').val() == ''){
                    
                    err++;
                }

                if($('#City').val() == ''){
                    
                      err++;
                    }
                    
                
                if($('#Zip_4').val() == ''){
                  err++;

                }

                                    

                 if($('#Studio_Address').val() == ''){
                    
                    err++;
                }
               
                if($('#us_states').val() == '0'){
                   
                    err++;
                } 
                
               

                if(!pattern1.test(userinput3))
                    {
                       $('#Phone_Number').parent().parent().find('.form-error').html("Please enter valid phone number.");
                    err++;
                    }


                if($('#Fax').val() != '')
                {
                    if(!pattern1.test(userinput4))
                        {
                           $('#Fax').parent().parent().find('.form-error').html("Please enter valid Fax number.");
                        err++;
                        }
                     
                }

                 if($('#Email_address').val() == ''){
                        
                        err++;
                    }

                if(!pattern.test(userinput1))
                    {
                        $('#Retype_EMail').parent().parent().find('.form-error').html("Please enter valid email address");  
                        err++;
                    }



                  if($('#Retype_EMail').val() != userinput1){
                    $('#Retype_EMail').parent().parent().find('.form-error').html("Please enter Re-type Email same as Email Address");
                    err++;
                   }
                     

                   if(!pattern.test(userinput2))
                    {
                       
                       err++;
                    }  
                    
                    
                 

                if(err == 0){
                    $(".rhino-active-bullet").removeClass("step-error").addClass("step-success");
                    $(".rhino-next").show();
                    $('.form-submit').hide();
                    $('.rhino-next').trigger('click');
                }else{
                    $(".rhino-active-bullet").removeClass("step-success").addClass("step-error");
                }


            };

            var step2_validation = function(){
                var err = 0;
              
                if($('#higher_limits').val() == null || $('#higher_limits').val() == ""){
                    
                    err++;
                }
                
                if($('#limit_of_Insurance_at_Other_Location').val() == ''){
                   
                    err++;
                }
                
                 if($('#limit_of_Insurance_While_in_Transit').val() == ''){
                      
                      err++;
                  }
                
                if($('#Policy_Deductable').val() == ''){
                    err++;
                }
                    
             

                if((!$("#paintings").is(':checked')) && (!$("#purniture").is(':checked')) && (!$("#drawings").is(':checked')) && (!$("#fabrics").is(':checked')) && (!$("#photographs").is(':checked')) && (!$("#jewelry").is(':checked')) && (!$("#sculptures").is(':checked')) && (!$("#silver").is(':checked')) && (!$("#non_Fragile").is(':checked')) && (!$("#breakable").is(':checked')) && (!$("#other").is(':checked'))){
                    
                    $('#other').parent().parent().find('.form-error').html("Please select atleast one checkbox.");
                    err++;
                }


                                
                if(err == 0){
                    $(".rhino-active-bullet").removeClass("step-error").addClass("step-success");
                    $(".rhino-next").show();
                    $('.form-submit').hide();
                    $('.rhino-next').trigger('click');
                }else{
                    $(".rhino-active-bullet").removeClass("step-success").addClass("step-error");
                }

            };

            var step3_validation = function(){
                var err = 0;

              

                if($('#Deadbolts').val() == ''){
                    
                    err++;
                }
                
                if($('input[id=Studio]:checked').length<=0)
                {
                  
                  err++;
                }
                
                if($('input[id=rsales]:checked').length<=0){
                   
                    err++;
                }
                
                if($('input[id=stored_on_skits]:checked').length<=0){
                    
                    err++;
                }
                
                if($('input[id=automatic_sprinkler]:checked').length<=0){
                    
                    err++;
                }

                if((!$("#deadbolts").is(':checked')) && (!$("#alarm").is(':checked')) && (!$("#local_alaram").is(':checked')) && (!$("#cameras").is(':checked')) && (!$("#gates").is(':checked')) && (!$("#watchmen").is(':checked')) && (!$("#no_security").is(':checked'))){
                    
                    $('#no_security').parent().parent().find('.form-error').html("Please select atleast one checkbox.");
                    err++;
                }
                
                
                if(err == 0){
                    $(".rhino-active-bullet").removeClass("step-error").addClass("step-success");
                    $(".rhino-next").show();
                    $('.form-submit').hide();
                    $('.rhino-next').trigger('click');
                }else{
                    $(".rhino-active-bullet").removeClass("step-success").addClass("step-error");
                }

            };

            var step4_validation = function(){
                var err = 0;

                if($('#finished_art_work').val() == ''){
                   
                    err++;
                }
                if($('#single_item').val() == ''){
                    
                    err++;
                }
                
                 if($('input[id=detailed_itemized]:checked').length<=0){
                      
                      err++;
                  }
                  
                   if($('input[id=record_sales]:checked').length<=0){
                       
                        err++;
                    }
                    
                     if($('input[id=inventory_off]:checked').length<=0){
                         
                          err++;
                      }
                
                if(err == 0){
                    $(".rhino-active-bullet").removeClass("step-error").addClass("step-success");
                    $(".rhino-next").show();
                    $('.form-submit').hide();
                    $('.rhino-next').trigger('click');
                }else{
                    $(".rhino-active-bullet").removeClass("step-success").addClass("step-error");
                }

            };
            
            var step5_validation = function(){
                var err = 0;

                if($('#exhibits_year').val() == ''){
                   
                    err++;
                }
                if($('#current_year').val() == ''){
                    
                    err++;
                }
                
                if($('#prior_year').val() == ''){
                    
                    err++;
                } 
                
                if($('#Name_of_current_insurance_carrier').val() == ''){
                    
                    err++;
                }
                
                if(err == 0){
                    $(".rhino-active-bullet").removeClass("step-error").addClass("step-success");
                    $(".rhino-next").show();
                    $('.form-submit').hide();
                    $('.rhino-next').trigger('click');
                }else{
                    $(".rhino-active-bullet").removeClass("step-success").addClass("step-error");
                }

            };
           

        </script>
        
        
        <script language="javascript">
           $(document).ready(function(){
        	$("[rel='tooltip']")   .tooltip({
                 animated: 'fade',
                 placement: 'right',
             });
            })
        </script>
        
          <%= javascript_include_tag "facebox.js" %>
          <%= stylesheet_link_tag "facebox.css" %>

          <script>



              $(document).ready(function() {
              var valuesToSubmit = $('#feedbackform').serialize();
              $('#previes123').click(function() {
                    $.ajax({
                    type: "POST",
                    url: "<%= artist_preview_artists_path %>",
                    data: $('#feedbackform').serialize(),
                          success: function( response ) {
                            console.log( response );
                          }
                    });
                  });
               });
          </script>
        
        

 	 

        



