<SCRIPT type="text/javascript">
      window.history.forward();
      function noBack() { window.history.forward(); }
    </SCRIPT>
   </HEAD>
    <BODY onload="noBack();"
    onpageshow="if (event.persisted) noBack();" onunload="">

<style type="text/css">
.wrapper {
    background: none repeat scroll 0 0 #F4F4F4;
    border: 1px solid #DCDADA;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #E1E1E1;
    height: auto;
    overflow: hidden;
    width: auto;
}
</style>
<h1> Payment </h1>
<div class="wrapper">
<%= form_for @subscription do |f| %>
  <% if @subscription.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>
      <ul>
      <% @subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :stripe_card_token %>
  
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :value=> session[:email],:autocomplete => :off ,:readonly => true%>
  </div>  

  <div class="field">
    <%= f.label :email, "Additional Email" %>
    <%= text_field_tag :addition_email %>
  </div> 

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price, :value=> number_to_currency(session[:anualpremium]), :disabled=> true %>
    <%= f.hidden_field :price, :value=> session[:anualpremium] %>
  </div>  

  <div class="field">
      <%= label_tag :card_number, "Credit Card Number " %>
      <%= text_field_tag :card_number, nil,:autocomplete => "off", name: nil %>
  </div>
  <div class="field">
      <%= label_tag :card_code, "Security Code on Card (CVV)" %>
      <%= text_field_tag :card_code, nil, name: nil, :autocomplete => :off %>
  </div>
  <div class="field">
    <%= label_tag :card_month, "Card Expiration" %>
    <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month"}%>
    <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}%>
  </div>
  <div id="stripe_error">
       <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>
  <div class="actions" style="margin:20px 0 0 0"><%= f.submit "Pay for Coverage",:class => "btn btn-info " %></div>

<% end %>
</div>




