
<%= stylesheet_link_tag "feedback_form.css" %>
  


<script type='text/javascript'>//<![CDATA[ 
$(window).load(function(){
$(function(){
    $('body').on({
        mousemove: function(e){
            var $this = $(this);
            // Calculate number of stars
            var currentMousePosition = e.pageX - $this.offset().left;
            var width = $this.width();
            var rounded = Math.round((currentMousePosition/width)*10);

            var starNumber = rounded/2;

            // Remove + add Classes + Store current rating
            $this.removeClass().addClass('stars s-' + starNumber).attr('data-rating', starNumber);
        },
        mouseleave:function(){
            var $this = $(this); 
            $this.removeClass().addClass('stars s-' + $this.attr('data-rating'));
        },
        click: function(){
            var $this = $(this);
            //Hide the current rating selector
            
            //$this.replaceWith($('<div>', {
             //'class': 'loading'
            //}));

            $("#feedback_rate").val($this.attr('data-rating'));
           
            
        }
    }, '.stars');
});



});//]]>  

function validate()
{
   if( document.getElementById("feedback_comment").value == "" )
   {
     document.getElementById("error_msg11").innerHTML = "Please enter a comment";
     document.getElementById("feedback_comment").focus() ;
     return false;
   }
}

</script>


<h1>Feedback</h1>
<div class="wrapper" style="background:#FFFFFF">
  
 <p style="font-weight: bold; margin: 20px 0 0 20px;">Thank you for subscribing!</p></br>

<%= form_for :feedback, :url=>{:controller=>"subscriptions", :action=>"feedback"}, :html=>{:name=>"feedbackfrm", :onsubmit=>"return(validate());"} do |f| %>
  <p><strong>Rating : </strong> <span class="stars s-1" data-default='1'> 0 stars</span></p>
  <p><strong>Comment : </strong> <br/><%= f.text_area :comment, :rows => 4, :cols => 38, :placeholder =>"Your Comment here...", :style=>"width:445px" %>
    <%= f.hidden_field :rate, :value=>"1" %><%= f.hidden_field :id, :value=>params[:id] %><br/>
    <div class="form-error" id="error_msg11"></div>
  </p>
  <p><%= submit_tag 'Submit',:class=>"btn btn-info", :onclick => "Checkpop(this.form)" %></p>

<% end %>
</div>



<script type="text/javascript">
  function Checkpop(f){
        
                alert("We really appreciate your time to write us a comment. Thank you very much.");
    };
</script>