
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Bernard Fleischer & Sons, Inc. est. 1949</title>

<%= stylesheet_link_tag "application","bootstrap.css","bootstrap-responsive.css","style.css"%>

		
</head>

<body>

<style>
.logo {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    margin: 20px 0;
}
.logo span {
    font-size: 15px;
    font-style: italic;
}
.form_bg {
    background: linear-gradient(to bottom, #E8E8E8 0%, #F9F9F9 7%, #F9F9F9 50%, #F9F9F9 93%, #E8E8E8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

</style>

<header>
	<div class="container">
		
		
		<div class="container">
		
		
		
		<div class="row">
		
		
		
			<div class="span12">
			
			
			
			
				
				<table class="table" width="100%">
  <tr>
    <td width="60%"><div class="logo">Bernard Fleischer &amp; Sons, Inc. <span>est. 1949</span></div></td>
    <td style="float:right">
      <div class="phone"><img alt="" src="http://artinsurance.herokuapp.com/assets/phone_icon.png"></div>
      <div class="number">
          <span>CALL US NOW</span> <br>
            (800) 921 1008  
          </div>
    </td>
  </tr>
  <tr>
    <td><strong>Policy no :</strong></td>
    <td>TBA draw from pre determine  list</td>
  </tr>
  <tr>
    <td><strong>Binding Effective :</strong></td>
    <td><%= Date.today %>&ndash; <%= Date.today + 1.year - 1%> (  pre-fill from date credit card goes through)</td>
  </tr>
  <tr>
    <td><strong>Company :</strong></td>
    <td>Markel American Insurance  Company Best Rated A (Excellent);  Financial Size Category: XIII</td>
  </tr>
  <tr>
    <td><strong>Producer :</strong></td>
    <td>Bernard Fleischer &amp; Sons (see page 3 on  excel sheet to determine)</td>
  </tr>
  <tr>
  <td><strong>Annual Premium :</strong></td>
    <td>$<%= raw @grades["annual_premium"] %></td>
  </tr>

  

 

  <tr>
    <td><strong>First Name :</strong></td>
    <td> <%=raw @grades["First Name"]%></td>
  </tr>

  <tr>
    <td><strong>Last Name :</strong></td>
    <td> <%=raw @grades["last Name"]%></td>
  </tr>

  <tr>
    <td><strong>Address 1 :</strong></td>
    <td> <%=raw @grades["Address 1"]%></td>
  </tr>

  <tr>
    <td><strong>Address 2 :</strong></td>
    <td> <%=raw @grades["Address 2"]%></td>
  </tr>

   <tr>
    <td><strong>City :</strong></td>
    <td><%=raw @grades["City"]%></td>
  </tr>

  <tr>
    <td><strong>State :</strong></td>
    <td><%=raw @grades["State"]%></td>
  </tr>


  <tr>
    <td><strong>Zip Code :</strong></td>
    <td><%=raw @grades["Zip"]%></td>
  </tr>

  <tr>
    <td><strong>Studio Address :</strong></td>
    <td> <%=raw @grades["Studio Address"]%></td>
  </tr>
  <tr>
    <td><strong> City :</strong></td>
    <td><%=raw @grades["Studio City"]%></td>
  </tr>

 
  <tr>
    <td><strong>State :</strong></td>
    <td><%=raw @grades["us_states"]%></td>
  </tr>

  <tr>
    <td><strong>Zip Code :</strong></td>
    <td><%=raw @grades["Zip Code"]%></td>
  </tr>
  
  <tr>
    <td><strong>Phone Number :</strong></td>
    <td><%=raw @grades["Phone Number"]%></td>
  </tr>
  <tr>
    <td><strong>Fax :</strong></td>
    <td><%=raw @grades["Fax"]%></td>
  </tr>
  <tr>
    <td><strong>E-mail address :</strong></td>
    <td><%=raw @grades["E-mail address"]%></td>
  </tr>
  <tr>
    <td><strong>Limit of Studio Insurance :</strong></td>
    <td><%=raw @grades["higher_limits"]%></td>
  </tr>
  <tr>
    <td><strong>Limit of Insurance at Other Location :</strong></td>
    <td> <%=raw @grades["limit_of_Insurance_at_Other_Location"]%></td>
  </tr>
  <tr>
    <td><strong>Limit of Insurance While in Transit :</strong></td>
    <td><%=raw @grades["limit_of_Insurance_While_in_Transit"]%></td>
  </tr>
  <tr>
    <td><strong>Policy Deductable :</strong></td>
    <td><%=raw @grades["Policy Deductable"]%></td>
  </tr>

  <tr>
    <td><strong>Genre You Work :</strong></td>
    <td><% if @grades["paintings"].present? %> <%= raw @grades["paintings"]%>, <% end %> <% if @grades["purniture"].present? %> <%= raw @grades["purniture"]%> ,<% end %> <% if @grades["drawings"].present? %> <%= raw @grades["drawings"]%>, <% end %> <% if @grades["fabrics"].present? %> <%= raw @grades["fabrics"]%> ,<% end %> <% if @grades["photographs"].present? %> <%= raw @grades["photographs"]%> ,<% end %> <% if @grades["jewelry"].present? %> <%= raw @grades["jewelry"]%> ,<% end %> <% if @grades["sculptures"].present? %> <%= raw @grades["sculptures"]%> ,<% end %> <% if @grades["silver"].present? %> <%= raw @grades["silver"]%> ,<% end %> <% if @grades["non_Fragile"].present? %> <%= raw @grades["non_Fragile"]%> ,<% end %><% if @grades["breakable"].present? %> <%= raw @grades["breakable"]%> ,<% end %><% if @grades["other"].present? %><%= raw @grades["other"]%> <% end %>
    </td>
  </tr>
  

  <tr>
    <td><strong>Studio is located in a :</strong></td>
    <td><%= raw @grades["studio"]%></td>
  </tr>

 <tr>
    <td><strong>Year Built? :</strong></td>
    <td><%= raw @grades["pre1950"]%> <%= raw @grades["after1950"]%></td>
 </tr>

<tr>
  <td><strong>Studio & storage of art are in a basement? :</strong></td>
  <td><%= raw @grades["Studio & storage of art are in a basement"]%></td>
</tr>

<tr>
  <td><strong>Is there a history of a back-up drain and/or sewer? :</strong></td>
  <td><%= raw @grades["Is_there_history_of_back_up_drain"]%></td>
</tr>

<tr>
  <td><strong>If yes works stored on skids or shelf? :</strong></td>
  <td><%= raw @grades["stored_on_skits_or_shelf"]%></td>
</tr>

<tr>
  <td><strong>Is there an automatic sprinkler system on premises? :</strong></td>
  <td><%= raw @grades["automatic_sprinkler_system"]%></td>
</tr>

<tr>
  <td><strong>Security :</strong></td>
  <td><% if @grades["deadbolts"].present? %> <%= raw @grades["deadbolts"]%>, <% end %> <% if @grades["alarm"].present? %> <%= raw @grades["alarm"]%> , <% end %> <% if @grades["local_alaram"].present? %> <%= raw @grades["local_alaram"]%> ,<% end %> <% if @grades["cameras"].present? %> <%= raw @grades["cameras"]%> ,<% end %> <% if @grades["gates"].present? %> <%= raw @grades["gates"]%> ,<% end %> <% if @grades["watchmen"].present? %> <%= raw @grades["watchmen"]%> ,<% end %> <% if @grades["no_security"].present? %> <%= raw @grades["no_security"]%> <% end %> </td>
</tr>



<tr>
    <td><strong>What is the average value of finished art work? :</strong></td>
    <td> <%= raw @grades["Finished_art_work"]%></td>
</tr>

<tr>
  <td><strong>What is the maximum value of single item? :</strong></td>
  <td><%= raw @grades["single_item"]%></td>
</tr>

<tr>
  <td><strong>Do you keep a detailed and itemized inventory? :</strong></td>
  <td><%= raw @grades["detailed_and_itemized"]%></td>
</tr>

<tr>
  <td><strong>Do you keep a record of sales? :</strong></td>
  <td><%= raw @grades["keep_record_of_sales"]%></td>
</tr>

<tr>
  <td><strong>When was the last date of inventory? :</strong></td>
  <td><%= raw @grades["card_signup_date"]%>-<%= raw @grades["card_signup_year"]  %></td>
</tr>
<tr>
  <td><strong>Number of exhibits a year? :</strong></td>
  <td><% if @grades["exhibits_year"] == "0" %> 5 or less <% else %> <%= raw @grades["exhibits_year"] %> <% end %></td>
</tr>

<tr>
  <td><strong>Do you maintain a duplicate inventory off-site? :</strong></td>
  <td><%= raw @grades["duplicate_inventory_off_site"]  %></td>
</tr>

<tr>
  <td><strong>Current year :</strong></td>
  <td><%= raw @grades["current_year"]%></td>
</tr>

<tr>
  <td><strong>Prior year :</strong></td>
  <td><%= raw @grades["prior_year"]%></td>
</tr>

<tr>
  <td><strong>Name of current insurance carrier :</strong></td>
  <td><%= raw @grades["Name of current insurance carrier"]%></td>
</tr>
<tr>
  <td><strong>Description Of Loss :</strong></td>
  <td><%= raw @grades["Description Of Loss"]%></td>
</tr>
<tr>
  <td><strong>Amount Of Loss :</strong></td>
  <td><%= raw @grades["Amount Of Loss"]%></td>
</tr>

<tr>
  <td><strong>Date : </strong></td>
  <td><%= raw @grades["lost_date"]  %></td>
</tr>

  
</table>

			
			</div>
		
		</div>
		
		</div>
		<div class="container form_bg" style="margin:10px 0">
		</div>
		
		
	  <div class="container form_bg" style="margin-top:10px">
			<div class="row">
			
			
				<div class="span12 footer">
				 &copy; 2014 Bernard Fleischer & Sons, Inc.
				</div>
			
			</div>
	  </div>
		
		
		
		
		
		
		
		
		
		
	</div>

</header>

	<div class="container">
		<div class="row">
			<div class="span3">
				
			</div>
			
			<div class="span9">
				
			
			</div>
		</div>
	</div>
	
	

 	 
		

	
		
</body>
</html>