
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Bernard Fleischer & Sons, Inc. est. 1949</title>

<%= stylesheet_link_tag "application","bootstrap.css","bootstrap-responsive.css","style.css"%>

		
</head>

<body>

<header>
	<div class="container">
		
		
		
		
		
		
		
		
		
		
		<div class="container">
		
		
		
		<div class="row">
		
		
		
			<div class="span12">
			
			
			
			
				
				<table class="table">
  <tr>
    <td>BINDER</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Policy no:</td>
    <td>TBA draw from pre determine  list</td>
  </tr>
  <tr>
    <td>Binding Effective:</td>
    <td><%= Date.today %>&ndash; <%= Date.today + 1.year - 1%> (  pre-fill from date credit card goes through)</td>
  </tr>
  <tr>
    <td>Company:</td>
    <td>Markel American Insurance  Company Best Rated A (Excellent);  Financial Size Category: XIII</td>
  </tr>
  <tr>
    <td>Producer:</td>
    <td>Bernard Fleischer &amp; Sons (see page 3 on  excel sheet to determine)</td>
  </tr>
  <tr>
  <td>Anual Premium</td>
    <td><%= raw @grades["annual_premium"] %></td>
  </tr>

  

 

  <tr>
    <td>Name of Applicant</td>
    <td> <%=raw @grades["Name of Applicant"]%></td>
  </tr>

  <tr>
    <td>Address 1</td>
    <td> <%=raw @grades["Address 1"]%></td>
  </tr>

  <tr>
    <td>Address 2</td>
    <td> <%=raw @grades["Address 2"]%></td>
  </tr>

   <tr>
    <td>City </td>
    <td><%=raw @grades["City"]%></td>
  </tr>


  <tr>
    <td>Zip +4 </td>
    <td><%=raw @grades["Zip +4"]%></td>
  </tr>

  <tr>
    <td>Studio Address </td>
    <td> <%=raw @grades["Studio Address"]%></td>
  </tr>

 
  <tr>
    <td>State</td>
    <td><%=raw @grades["us_states"]%></td>
  </tr>
  
  <tr>
    <td>Phone Number </td>
    <td><%=raw @grades["Phone Number"]%></td>
  </tr>
  <tr>
    <td>Fax 
</td>
    <td><%=raw @grades["Fax"]%></td>
  </tr>
  <tr>
    <td>E-mail address</td>
    <td><%=raw @grades["E-mail address"]%></td>
  </tr>
  <tr>
    <td>Limit of Studio Insurance </td>
    <td><%=raw @grades["higher_limits"]%></td>
  </tr>
  <tr>
    <td>Limit of Insurance at Other Location </td>
    <td> <%=raw @grades["limit_of_Insurance_at_Other_Location"]%></td>
  </tr>
  <tr>
    <td>Limit of Insurance While in Transit</td>
    <td><%=raw @grades["limit_of_Insurance_While_in_Transit "]%></td>
  </tr>
  <tr>
    <td>Policy Deductable</td>
    <td><%=raw @grades["Policy Deductable"]%></td>
  </tr>
  <tr>
    <td>Finished_art_work </td>
    <td> <%=raw @grades["Finished_art_work "]%></td>
  </tr>
  <tr>
    <td>Single_item </td>
    <td><%=raw @grades["single_item"]%>
</td>
  </tr>
  <tr>
    <td>When was the last date of inventory</td>
    <td> <%=raw @grades["When was the last date of inventory"]%>
</td>
  </tr>
  <tr>
    <td>exhibits_year 
 </td>
    <td><%=raw @grades["exhibits_year"]%>
</td>
  </tr>
   <tr>
    <td>current_year
 </td>
    <td><%=raw @grades["current_year"]%>
</td>
  </tr>
  <tr>
    <td>prior_year
 </td>
    <td><%=raw @grades["prior_year"]%>
</td>
  </tr>
   <tr>
    <td>Name of current insurance carrier 
 </td>
    <td> <%=raw @grades["Name of current insurance carrier"]%>

</td>
  </tr>
</table>

			
			</div>
			
			
			
			
			
			

		
		
		
		
			
			
			
			
		</div>
		
		
		
		
		
		
		
		
		
		
		</div>
		
		
		
		
		<div class="container form_bg" style="margin:10px 0">
		
		
		
		

		
		</div>
		
		
	  <div class="container form_bg" style="margin-top:10px">
			<div class="row">
			
			
				<div class="span12 footer">
				 © 2004 Bernard Fleischer & Sons, Inc.
				</div>
			
			</div>
	  </div>
		
		
		
		
		
		
		
		
		
		
	</div>

</header>

	<div class="container">
		<div class="row">
			<div class="span3">
				
			</div>
			
			<div class="span9">
				
			
			</div>
		</div>
	</div>
	
	

 	 
		

	
		
</body>
</html>