
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Bernard Fleischer & Sons, Inc. est. 1949</title>

<%= stylesheet_link_tag "application","bootstrap.css","bootstrap-responsive.css","style.css"%>

    
</head>

<body>


<style type="text/css">
  body{ font-family: Calibri; font-size:16px; margin:0; line-height:20px }
  .left{ margin:50px 0 0 0; font-family:logo; font-size:40px; color:#0055a2; line-height:normal}
  .right{ margin:0 0 20px 0; width:auto; float:right; text-align:right; font-family:"Times New Roman", Times, serif; font-size:14px; color:#000000}
  
  @font-face {
  font-family: "logo";
  src: url('http://artinsurance.herokuapp.com/assets/Switzerland_Condensed_Bold.eot');
  src: url('http://artinsurance.herokuapp.com/assets/Switzerland_Condensed_Bold.eot?#iefix') format('embedded-opentype'), url('http://artinsurance.herokuapp.com/assets/Switzerland_Condensed_Bold.woff') format('woff'), url('http://artinsurance.herokuapp.com/assets/Switzerland_Condensed_Bold.ttf') format('truetype'), url('http://artinsurance.herokuapp.com/assets/Switzerland_Condensed_Bold.svg#flat-ui-icons-regular') format('svg');
  font-weight: normal;
  font-style: normal;
  }
</style>



  <div>

    <table CELLPADDING=4>
<tr>
    <th ROWSPAN=6><img src="http://artinsurance.herokuapp.com/assets/markel.jpg" width="90px;" height="120px;"></img></th>
    <td>MARKEL</td>
    </TR>
<tr>
    <td>Markel Specialty</td> 
    </tr>
<tr>
    <td>21600 Oxnard Street, Suite 400</td>
    </tr>
<tr>
    <td>Woodland Hills, CA 91367-4976</td>
    </tr>
<tr>
    <td>plouis@markelcorp.com</td>
    </tr>
<tr>
    <td><span style="color:red">www.markelcorp.com / www.markelartworks.com</span></td>
    </tr>


</table>


    <div style="clear:both; margin:0 auto">
      <div>

        <span style="text-decoration:underline">
         Binder
  

        </span> 
       
      </div>
    </div> 

 <table width="100%">
  <tr>

    <td width="20%" valign="top"><strong>Policy no</strong></td>
    <td align="left"><%= @cus %></td>
    </td>
  </tr>
  <tr>
    <td width="20%" valign="top"><strong>Binding Effective</strong></td>
    <td align="left"><%= @grades["start_date"]%><%= @grades["start_date"] + 1 %></td>
    </td>
  </tr>
  <tr>
    <td width="20%" valign="top"><strong>Company</strong></td>
    <td align="left">Markel Insurance Company  Ten Parkway North, Deerfield, Illinois 60015 <br/>
      Best Rated A (Excellent); Financial Size Category: XIV
    </td>
  </tr>
  <tr>
    <td width="20%"><strong>Producer</strong></td>
    <td align="left">
      <% if @grades["us_states"] == "Alaska" || @grades["us_states"] == "Arizona" || @grades["us_states"] == "Arkansas" || @grades["us_states"] == "Colorado" || @grades["us_states"] == "Delaware" || @grades["us_states"] =="District of Columbia" || @grades["us_states"] =="Florida" || @grades["us_states"] == "Hawaii" || @grades["us_states"] == "Idaho" || @grades["us_states"] == "Illinois" || @grades["us_states"] == "Indiana" || @grades["us_states"] == "Kansas" || @grades["us_states"] == "Kentucky" || @grades["us_states"] =="Louisiana" || @grades["us_states"] =="Maine" || @grades["us_states"] =="Maryland" || @grades["us_states"] =="Massachusetts" || @grades["us_states"] =="Mississippi" || @grades["us_states"] == "Michigan" || @grades["us_states"] == "Minnesota" || @grades["us_states"] == "Nebraska" || @grades["us_states"] == "Nevada" || @grades["us_states"] == "New Hampshire" || @grades["us_states"] =="New Jersey" || @grades["us_states"] =="New York" || @grades["us_states"] == "North Carolina" || @grades["us_states"] == "Ohio" || @grades["us_states"] == "Oregon" || @grades["us_states"] =="Rhode Island" || @grades["us_states"] == "South Carolina" || @grades["us_states"] == "South Dakota" || @grades["us_states"] == "Tennessee" || @grades["us_states"] == "Utah" || @grades["us_states"] == "Vermont" || @grades["us_states"] == "Virginia" || @grades["us_states"] == "Washington" || @grades["us_states"] == "West Virginia" || @grades["us_states"] == "Wisconsin" || @grades["us_states"] == "Wyoming" %>
      
      William Fleischer/ Bernard Fleischer & Sons, Inc
    <% elsif @grades["us_states"] == "Connecticut" || @grades["us_states"] == "California" || @grades["us_states"] =="Georgia" || @grades["us_states"] == "Iowa" ||   @grades["us_states"] == "North Dakota" || @grades["us_states"] == "New Mexico" || @grades["us_states"] =="Pennsylvania" %>
      
      William Fleischer/ Bernard Fleischer & Sons, Inc

    <% elsif @grades["us_states"] == "Texas" %>
      Bernard Fleischer & Sons
  <% end %>
    </td>
  </tr>
   <tr>
    <td width="20%"><strong>Named Insured</strong></td>
    <td align="left"><%= @grades["First Name"] %> <%= @grades["last Name"] %></td>
  </tr>
   <tr>
    <td width="20%"><strong>Mailing Address</strong></td>
    <td align="left"><%= @grades["Address 1"]%> <%= @grades["Address 2"]%>, <%= @grades["City"]%>, <% if @grades["state"] %> <%= @grades["state"]%> <% else %> <%= @grades["us_states"]%> <% end %> <%= @grades["Zip"]%></td>
  </tr>
  <tr>
    <td width="20%"><strong>Type of Insurance</strong></td>
    <td align="left">Markel Commercial Artist Form</td>
  </tr>
 
  <tr>
    <td width="20%" valign="top"><strong>Covered Property</strong></td>
    <td align="left">Works of art by you being held for sale or sold but not delivered or  removed, your property or the property of others in your care, custody or   control and for which you may be liable or assume liability prior to loss or  damage.</td>
  </tr>

  <tr>
    <td width="20%"><strong>Covered Locations</strong></td>
    <td align="left"><%= @grades["Studio Address"]%> <%= @grades["Studio_Address2"]%>, <%= @grades["Studio City"]%>,  <%= @grades["us_states"]%> <%= @grades["Zip Code"]%></td>
  </tr>

  <tr>
    <td width="20%" valign="top"><strong>Limits of Liability</strong></td>

    <td align="left">$ <% if @grades["higher_limits"] == '1000' %><p>100,000
      <% elsif @grades["higher_limits"] == '1062' %>125,000
      <% elsif @grades["higher_limits"] == '1203' %>150,000
      <% elsif @grades["higher_limits"] == '1344' %>175,000
      <% elsif @grades["higher_limits"] == '1484' %>200,000
      <% elsif @grades["higher_limits"] == '1625' %>225,000
      <% elsif @grades["higher_limits"] == '1765' %>250,000
      <% elsif @grades["higher_limits"] == '1907' %>275,000
      <% elsif @grades["higher_limits"] == '2047' %>300,000
      <% end %> Blanket over Covered Locations</p>
      <p><%= @grades["limit_of_Insurance_at_Other_Location"]%> At any unnamed location </p>
      <p>$100,000.00 While in transit </p>
      <p>$100,000.00 Exhibition</p></td>

  </tr>

  <tr>
    <td width="20%"><strong>Co-insurance</strong></td>
    <td align="left">None</td>
  </tr>

  <tr>
    <td width="20%" valign="top"><strong>Coverage</strong></td>
    <td align="left">
      <% if @grades["us_states"] == "Arizona" || @grades["us_states"] == "Alaska" || @grades["us_states"] == "Arkansas" || @grades["us_states"] == "California" || @grades["us_states"] == "Colorado" || @grades["us_states"] == "Hawaii" || @grades["us_states"] == "Idaho" || @grades["us_states"] == "Illinois" || @grades["us_states"] == "Indiana" || @grades["us_states"] == "Iowa" || @grades["us_states"] == "Kansas" || @grades["us_states"] == "Kentucky" || @grades["us_states"] == "Michigan" || @grades["us_states"] == "Minnesota" || @grades["us_states"] == "Nebraska" || @grades["us_states"] == "Nevada" || @grades["us_states"] == "New Hampshire" || @grades["us_states"] == "New Mexico" || @grades["us_states"] == "North Dakota" ||@grades["us_states"] == "Ohio" || @grades["us_states"] == "Oregon" || @grades["us_states"] == "South Dakota" || @grades["us_states"] == "Tennessee" || @grades["us_states"] == "Utah" || @grades["us_states"] == "Vermont" || @grades["us_states"] == "Virginia" || @grades["us_states"] == "Washington" || @grades["us_states"] == "West Virginia" || @grades["us_states"] == "Wisconsin" || @grades["us_states"] == "Wyoming" %>
      As per form attached;
      Additional exclusions - Earthquake, Mold 

    <% elsif @grades["us_states"] == "Connecticut" || @grades["us_states"] == "Delaware" || @grades["us_states"] =="District of Columbia" || @grades["us_states"] =="Florida" || @grades["us_states"] =="Georgia" || @grades["us_states"] =="Louisiana" || @grades["us_states"] =="Maine" || @grades["us_states"] =="Maryland" || @grades["us_states"] =="Massachusetts" || @grades["us_states"] =="Mississippi" || @grades["us_states"] =="New Jersey" || @grades["us_states"] =="New York" || @grades["us_states"] == "North Carolina" || @grades["us_states"] =="Pennsylvania" || @grades["us_states"] =="Rhode Island" || @grades["us_states"] == "South Carolina" || @grades["us_states"] == "Texas"%>

    As per form attached;
    Additional exclusions - Earthquake Exclusion, Mold Exclusion,  Water Damage, Windstorm
    

  <% end %>
</td>
  </tr>

  <tr>
    <td width="20%" valign="top"><strong>Valuation</strong></td>
    <td align="left">Completed Work, If sold valued at your selling price.
  Completed Work, if not sold, at selling price less 30% Property not marked for sale, your cost</td>
  </tr>

  <tr>
    <td width="20%"><strong>Territory</strong></td>
    <td align="left">Worldwide</td>
  </tr>

  <tr>
    <td width="20%"><strong>Terriosim Coverage</strong></td>
    <td align="left">Not Covered</td>
  </tr>

  <tr>
    <td width="20%"><strong>Deductible</strong></td>
    <td align="left"><%= @grades["Policy Deductable"]%>.00 per occurrence</td>
  </tr>

  <tr>
    <td width="20%"><strong>Premium</strong></td>
    <td align="left">
  
      <%= number_to_currency(@grades["annual_premium"]) %> Total Annual Premium
    </td>
  </tr>

 </table>

    <!-- <div style="clear:both; margin:0 auto">
      <div>
        <p>&nbsp;</p>
        <span style="font-style:italic">
        
        <p>It is your duty to disclose all material facts to Markel underwriters prior to inception of the policy, and to keep them advised of any such facts or changes to such facts throughout the currency of the policy, and upon renewal of the policy.  All material information concerning the risk including any loss or claim statistics should be accurate and kept up to date at all times.  A material fact is a fact which may influence an underwriter’s judgment in their assessment of a risk.  If you are in doubt as to whether a fact is material, we recommend that it be disclosed.  Failure to disclose material fact may entitle underwriters to avoid the policy from inception.</p>
        </span> 
        <span>
          <strong>ANY PERSON WHO KNOWINGLY AND WITH INTENT TO DEFRAUD ANY INSURANCE COMPANY OR ANOTHER PERSON FILES AN APPLICATION FOR INSURANCE OR STATEMENT OF CLAIM CONTAINING ANY MATERIALLY FALSE INFORMATION, OR CONCEALS FOR THE PURPOSE OF MISLEADING INFORMATION CONCERNING ANY FACT MATERIAL THERETO, COMMITS A FRAUDULENT INSURANCE ACT, WHICH IS A CRIME AND SUBJECTS THE PERSON TO CRIMINAL AND CIVIL PENALTIES.</strong> 

        </span>  
        <p>&nbsp;</p>
      </div>
    </div> 

    <p>&nbsp;</p>
    <div style="text-align:center; font-size:20px; padding:40px 0">An Insurance and Bonding Agency Worth Recommending</div> -->
    
</body>
</html>

